* {
    font-family: sans-serif;
}

body {
    background-color: aliceblue;
}

.form-content {
    padding: 1rem;
}

.form-content button {
    padding: 5px 15px;
    margin-top: 1rem;
    background-color: green;
    color: #fff;
    border: 1px solid green;
    cursor: pointer;
}

.form-content form input {
    padding: 5px;
    border: 1px solid rgb(152, 184, 214);
}



